.main {
  height: calc(100% - 3.125rem);
  transition: margin-left 0.3s;
  background: #f0f2f5;
  /*.mytab{
    //height: 100%;
  }*/
}
.main .ant-tabs .ant-tabs-bar {
  margin: 0;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-container {
  height: 35px !important;
  line-height: 35px;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-extra-content {
  height: 35px !important;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap {
  background: #fff;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .MyTabs:first-child {
  margin-left: 12px;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab {
  height: 25px;
  line-height: 25px;
  padding: 0 16px;
  margin: 2px;
  color: #000;
  border-radius: unset;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab a {
  color: inherit;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab .ant-tabs-close-x {
  width: 0;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab:hover .ant-tabs-close-x {
  width: 16px;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab-active {
  border-bottom: unset;
  background: #404040;
  color: #fff;
}
.main .ant-tabs .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-tab-active .ant-tabs-close-x {
  color: #fff !important;
  width: 16px;
  transition: width 0.3s;
}
.mainleft {
  margin-left: 80px;
}
.mainrigth {
  margin-left: 225px;
}
.mobile .main {
  transition: none;
}
.contextmenu {
  margin: 0;
  background: #fff;
  z-index: 3000;
  position: absolute;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.contextmenu li {
  margin: 0;
  padding: 7px 16px;
  cursor: pointer;
}
.contextmenu li:hover {
  background: #eee;
}
.ant-tabs-content {
  display: none !important;
  overflow-y: auto;
  overflow-x: auto;
}
.ant-tabs-content .ant-tabs-tabpane {
  padding: 0px 10px;
  margin-top: 15px;
}
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}
